@* @page "/team-match-sport"

<!-- Fonts and Stylesheets -->
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
<link href="css/main.css" rel="stylesheet" />

<!-- Main Container -->
<div class="v66_3">
    <div class="v254_318"></div>
    <div class="name"></div>
    <div class="name"></div>

    <span class="v74_45">TEAM MATCH SPORT</span>
    <span class="v74_133">TEAM MATCH SPORT</span>
    <span class="v74_48">Về chúng tôi</span>
    <span class="v74_53">
        Dự án này sẽ giúp cộng đồng người chơi thể thao dễ dàng truy cập thông tin và tìm kiếm phù hợp về đối chơi thể thao,
        sân chơi, thúc đẩy hoạt động thể thao và tạo ra một môi trường giao lưu sôi động cho người yêu thể thao trong khu vực.
    </span>

    <!-- Buttons -->
    <div class="v74_55">
        <span class="v74_54">Tìm hiểu thêm</span>
        <div class="v74_57"></div>
    </div>
    <div class="v74_183">
        <span class="v74_184">Đăng ký ngay</span>
        <div class="v74_185"></div>
    </div>

    <!-- Graphics -->
    <div class="v74_50"></div>
    <div class="v74_52"></div>

    <!-- User Reviews -->
    <div class="v74_112">
        <span class="v74_58">Đánh giá của người dùng</span>
        <div class="v74_72">
            <span class="v74_61">Người dùng 1</span>
            <span class="v74_63">Người dùng 1</span>
            <span class="v74_65">Người dùng 1</span>
            <span class="v74_67">Người dùng 1</span>
            <span class="v74_69">Người dùng 1</span>
        </div>
        <div class="v74_73">
            <div class="v74_62"></div>
            <div class="v74_64"></div>
            <div class="v74_66"></div>
            <div class="v74_68"></div>
            <div class="v74_70"></div>
        </div>
        <div class="v74_80">
            <div class="v74_75"></div>
            <div class="v74_76"></div>
            <div class="v74_77"></div>
            <div class="v74_78"></div>
            <div class="v74_79"></div>
        </div>
        <div class="v74_81">
            <div class="v74_82"></div>
            <div class="v74_83"></div>
            <div class="v74_84"></div>
            <div class="v74_85"></div>
            <div class="v74_86"></div>
        </div>
        <div class="v74_87">
            <div class="v74_88"></div>
            <div class="v74_89"></div>
            <div class="v74_90"></div>
            <div class="v74_91"></div>
            <div class="v74_92"></div>
        </div>
        <div class="v74_93">
            <div class="v74_94"></div>
            <div class="v74_95"></div>
            <div class="v74_96"></div>
            <div class="v74_97"></div>
            <div class="v74_98"></div>
        </div>
        <div class="v74_99">
            <div class="v74_100"></div>
            <div class="v74_101"></div>
            <div class="v74_102"></div>
            <div class="v74_103"></div>
            <div class="v74_104"></div>
        </div>

        <!-- Review Text -->
        <span class="v74_106">Lorem ipsum dolor sit amet...</span>
        <span class="v74_107">Lorem ipsum dolor sit amet...</span>
        <span class="v74_108">Lorem ipsum dolor sit amet...</span>
        <span class="v74_109">Lorem ipsum dolor sit amet...</span>
        <span class="v74_110">Lorem ipsum dolor sit amet...</span>
    </div>

    <!-- Register Section -->
    <div class="v74_125"></div>
    <div class="v74_126">
        <div class="v74_127">
            <span class="v74_111">Đăng ký</span>
        </div>
        <div class="v74_116">
            <span class="v74_115">Tên đăng nhập</span>
        </div>
        <div class="v74_117">
            <span class="v74_118">Mật khẩu</span>
        </div>
        <div class="v74_119">
            <span class="v74_120">Xác nhận mật khẩu</span>
        </div>
        <div class="v74_121">
            <span class="v74_122">Địa chỉ email</span>
        </div>
        <div class="v74_123">
            <span class="v74_124">Xác nhận</span>
        </div>
    </div>

    <div class="v74_135">
        <span class="v74_134">Tham gia cùng chúng tôi</span>
    </div>

    <!-- Header Menu -->
    <div class="v157_615">
        <div class="v157_616">
            <div class="v157_617">
                <div class="v213_177"></div>
                <div class="v157_618">
                    <span class="v157_619">Trang chủ</span>
                </div>
            </div>
            <div class="v157_621">
                <div class="v157_622">
                    <div class="name"></div>
                    <div class="name"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="v249_372">
        <div class="v249_373">
            <div class="v249_374">
                <div class="v249_375"></div>
                <div class="v249_376">
                    <span class="v249_377">Bóng đá</span>
                    <span class="v249_378">Bóng rổ</span>
                    <span class="v249_379">Bóng chuyền</span>
                    <span class="v249_380">Cầu lông</span>
                    <span class="v249_381">Pickleball</span>
                </div>
            </div>
            <div class="v249_382">
                <span class="v249_383">Subscribe</span>
                <div class="v249_384">
                    <div class="name"></div>
                    <div class="name"></div>
                </div>
                <span class="v249_387">By subscribing you agree to with our Privacy Policy</span>
            </div>
        </div>
        <div class="v249_388">
            <div class="v249_389"></div>
            <div class="v249_390">
                <div class="v249_391">
                    <span class="v249_392">Privacy Policy</span>
                    <span class="v249_393">Terms of Service</span>
                    <span class="v249_394">Cookies Settings</span>
                </div>
                <span class="v249_395">2025 Ddsgnr. All right reserved.</span>
            </div>
        </div>
    </div>
</div> *@