@page "/home"
@using Microsoft.AspNetCore.Components.Forms

<!-- CSS files - bạn cần import các file này vào wwwroot và khai báo trong _Host.cshtml hoặc index.html -->
<link href="./css/globals.css" rel="stylesheet" />
<link href="./css/styleguide.css" rel="stylesheet" />
<link href="./css/style.css" rel="stylesheet" />

<div class="frame">

    <div class="div">
        <div class="overlap-group">
            <div class="nh">
                <img class="pxfuel" src="img/2.png" />
            </div>
            <div class="text-wrapper">TEAM MATCH SPORT</div>
            <div class="rectangle"></div>
            <div class="group">
                <div class="div-wrapper"><div class="text-wrapper-2">Đăng ký</div></div>
                <div class="div-wrapper-2"><div class="text-wrapper-3">Tên đăng nhập</div></div>
                <div class="div-wrapper-3"><div class="text-wrapper-3">Mật khẩu</div></div>
                <div class="div-wrapper-4"><div class="text-wrapper-3">Xác nhận mật khẩu</div></div>
                <div class="div-wrapper-5"><div class="text-wrapper-3">Địa chỉ email</div></div>
                <div class="div-wrapper-6"><div class="text-wrapper-4">Xác nhận</div></div>
            </div>
        </div>

        <!-- Navbar -->
        <div class="navbar">
            <div class="container">
                <div class="column">
                    <div class="div-2">
                        <div class="nav-link-dropdown"><div class="text-wrapper-5">Home</div></div>
                        
                    </div>
                    <div class="column-2">
                        <button class="button-2" onclick="window.location.href='/login'">Log In</button>
                        <button class="button-3" onclick="window.location.href='/register'">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- About Section -->
        <div class="overlap">
            <div class="nh-2"></div>
            <div class="div-4">
                <div class="nh">
                    <img class="pxfuel" src="img/1.png" />
                    <button class="text-wrapper-10" onclick="window.location.href='/register'">
                        Đăng ký ngay
                    </button>
                </div>
               
            </div>
            <div class="text-wrapper-7">TEAM MATCH SPORT</div>
            <div class="group-2">
                <div class="text-wrapper-8">Về chúng tôi</div>
                <p class="p">
                    Dự án này sẽ giúp cộng đồng người chơi thể thao dễ dàng truy cập thông tin...
                </p>
                
                <div class="div-3">
                    <div class="text-wrapper-9">Tìm hiểu thêm</div>
                    <img class="vector" src="img/vector.svg" />
                </div>
                
                
                <img class="image" src="img/image 3.png" />
                <img class="image-2" src="img/image.png" />
            </div>
        </div>

        <!-- Feedback Section -->
        <div class="group-3">
            <p class="text-wrapper-11">Đánh giá của người dùng</p>
            <div class="div-5">
                @for (int i = 1; i <= 5; i++)
                {
                    <div class="text-wrapper-12">Người dùng @i</div>
                }
            </div>
            <div class="div-6">
                @for (int i = 0; i < 5; i++)
                {
                    <div class="ellipse"></div>
                }
            </div>
            <img class="img-2" src="img/Sao.png">
            <img class="img-3" src="img/Sao.png" />
            <img class="img-4" src="img/Sao.png" />
            <img class="img-5" src="img/Sao.png" />
            <img class="img-6" src="img/Sao.png" />

            @for (int i = 0; i < 5; i++)
            {
                <p class="text-wrapper-@(13 + i)">
                    Lorem ipsum dolor sit amet consectetur. Lobortis pellentesque cras sed sapien iaculis cras nunc donec scelerisque. Massa pellentesque sit id id. Placerat duis eu pulvinar lacinia tincidunt facilisi ultrices imperdiet rhoncus. Odio sit faucibus in netus diam facilisi libero ante.
                </p>
            }
        </div>

        <div class="div-wrapper-7">
            <p class="text-wrapper-18">Tham gia cùng chúng tôi</p>
        </div>

        <!-- Footer -->
        <div class="footer">
            <div class="div-7">
                <div class="column-3">
                    <div class="ddsgnr-library">
                        <div class="ddsgnr-library-2">
                            <img class="img-7" src="img/frame-1.svg" />
                            <div class="text-wrapper-19">Ddsgnr</div>
                        </div>
                    </div>
                    <div class="div-2">
                        <div class="text-wrapper-20">Bóng đá</div>
                        <div class="text-wrapper-20">Bóng rổ</div>
                        <div class="text-wrapper-20">Bóng chuyền</div>
                        <div class="text-wrapper-20">Cầu lông</div>
                        <div class="text-wrapper-20">Pickleball</div>
                    </div>
                </div>

                <div class="actions">
                    <div class="text-wrapper-21">Subscribe</div>
                    <div class="form">
                        <InputText class="text-input" @bind-Value="email" placeholder="Enter your email" />
                        <button class="button-4" @onclick="Subscribe">Subscribe</button>
                    </div>
                    <p class="by-subscribing-you">
                        <span class="span">By subscribing you agree to our </span>
                        <span class="text-wrapper-22">Privacy Policy</span>
                    </p>
                </div>
            </div>

            <div class="credits">
                <div class="divider"></div>
                <div class="div-7">
                    <div class="footer-links">
                        <div class="text-wrapper-24">Privacy Policy</div>
                        <div class="text-wrapper-24">Terms of Service</div>
                        <div class="text-wrapper-24">Cookies Settings</div>
                    </div>
                    <p class="text-wrapper-25">2025 Ddsgnr. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private string email;

    private void Subscribe()
    {
        // Xử lý đăng ký nhận email ở đây
        Console.WriteLine($"Subscribed with: {email}");
    }
}
<style>
    .text-wrapper-10 {
        display: inline-block;
        padding: 10px 20px;
        background-color: #28a745;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
        border: none;
        font-size: 16px;
        position: relative;
        z-index: 10; /* đảm bảo nằm trên ảnh */
    }

</style>
